body
{
    background-size: cover;
}

.heading{
    width: 100%;
    text-align: left;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.heading h3{
    display:inline;
}

#startButton, #status{
    font-size: 23px;
    border: 2px solid black;
}

h4{
    background-color: white;
    width: 100%;
    line-height: 2;
    margin:0;
    
}